{% extends "master.html" %}

{% load static %}

{% block title %}
Game details
{% endblock %}

{% block content %}
<div class="mycard">
    <h1>{{ object.title }}</h1>
    <p>ID {{ object.id }}</p>
    <p>Date created {{ object.created }}</p>
    <p>Correct guesses {{ object.guesses }}</p>
    <p>Winner {{ object.winner }}</p>
    <div class="container">
        {% for round in object.rounds.all %}
        <div class="row bg-secondary text-white">
            <div class="col">{{ round }}</div>
        </div>
        {% for match in round.matches.all %}
        <div class="row">
            {% for country in match.countries.all %}
            <div align="{% cycle 'right' 'left' %}"
                 {% if country in match.winners.all %}
                    class="col bg-success"
                 {% else %}
                    class="col"
                 {% endif %}
                 onclick="location.href='{% url 'matches.win' object.id match.id country.id %}';">
                {% if forloop.first %}
                <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'countries.detail' country.id %}">{{ country.name }}</a>
                {% endif %}
                {% with 'flags/'|add:country.id|add:'.png' as flag %}
                <img src="{% static flag %}" class="rounded" style="height:20px; width:30px;">
                {% endwith %}
                {% if not forloop.first %}
                <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'countries.detail' country.id %}">{{ country.name }}</a>
                {% endif %}
            </div>
            {% if forloop.first and forloop.last %}
            <div class="col" align="left">BYE</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <form action="{% url 'matches.create' object.id round.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link btn-sm">New match</button>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="row bg-secondary text-white">
            <div class="col">
                <form action="{% url 'rounds.create' object.id %}" method="post" style="display: inline;">
                    {% csrf_token%}
                    <button type="submit" class="btn btn-link btn-sm">New round</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}