{% extends "master.html" %}

{% load static %}

{% block title %}
Game details
{% endblock %}

{% block content %}
<div class="mycard">
    <h1>{{ object.title }}</h1>
    <p>Date created {{ object.created }}</p>
    <p>Correct guesses {{ object.guesses }}</p>
    <p>Winner {{ object.winner }}</p>
    <p>
    <form action="{% url 'rounds.create' object.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-link btn-sm">New round</button>
    </form>
    </p>
    <table class="table table-striped table-bordered align-middle">
        {% for round in object.rounds.all %}
        <thead>
        <tr>
            <th colspan="2">{{ round }}</th>
        </tr>
        </thead>
        <tbody>
        {% for match in round.matches.all %}
        <tr>
            {% for country in match.countries.all %}
            <td align="{% cycle 'right' 'left' as align %}" class="w-50
                {% if country in match.winners.all %}
                bg-success
                {% endif %}
                "
                onclick="location.href='{% url 'matches.win' object.id match.id country.id %}';">
                {% include "country_snippet.html" with country=country align=align %}
            </td>
            {% if forloop.first and forloop.last %}
            <td align="left" class="w-50">BYE</td>
            {% endif %}
            {% endfor %}
            {% resetcycle %}
        </tr>
        {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}