{% extends "master.html" %}

{% block title %}
List of parameters
{% endblock %}


{% block content %}
<div class="mycard">
    <h1>Parameters</h1>
    <div class="row row-cols3 g-2">
        {% for parameter in object_list %}
        <div class="col">
            <div class="p-3 border" onclick="window.location = '{% url 'parameters.detail' parameter.id %}'">
                <h3>
                    {{ parameter }}
                </h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}